@model Domain.Entities.MyCar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MyCar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCarModel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCarFuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCarFuel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCarTransmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCarTransmission.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCarDrivetrain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCarDrivetrain.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyAccount.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
